body {
    margin: 0px;
}
.head {
    vertical-align: top;
    margin: 0px;
    width: 100%;
    font-family: Arial,Verdana,Helvica;
    font-size:24px;
    border-bottom: 1px solid #6B6B6B;
}

.help {
    width: 100%;
    text-align: center;
}

.table-help {
    margin: auto;
}

.table-help-fucntion {
    width: 50px;
    text-align: center;
    margin: 0px;
    border-bottom: 1px solid black;
}

.table-help-use {
    width: 450px;
    text-align: center;
    margin: 0px;
    border-bottom: 1px solid black;
}

.licence {
    font-family: monospace;
}
